/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/
/Gemfile.lock/
/source/template.yml
/source/template.yaml

# rspec failure tracking
.rspec_status

/Gemfile.lock
.aws-sam
